/* Font face */
@font-face {
	font-family: 'RHD';
	src: url('../font/RedHatDisplay-500.ttf') format('truetype');
	src: url('../font/RedHatDisplay-500.woff') format('woff');
	src: url('../font/RedHatDisplay-500.woff2') format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'RHD';
	src: url('../font/RedHatDisplay-700.ttf') format('truetype');
	src: url('../font/RedHatDisplay-700.woff') format('woff');
	src: url('../font/RedHatDisplay-700.woff2') format('woff2');
	font-weight: 700;
}

@font-face {
	font-family: 'RHD';
	src: url('../font/RedHatDisplay-900.ttf') format('truetype');
	src: url('../font/RedHatDisplay-900.woff') format('woff');
	src: url('../font/RedHatDisplay-900.woff2') format('woff2');
	font-weight: 900;
}
