.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
	top: 10px;
}

.flex-row {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 16px;
}

.flex-column {
	display: flex;
	flex-direction: column;
	gap: 5px;
	text-align: left;
}

.text-s {
	font-size: $font-size-small;
}

.text-light {
	color: $desaturated-blue;
}

.text-bold {
	font-weight: $font-weight-black;
}

.link-underline {
	text-decoration: underline;
}
