/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  height: 100%;
  line-height: var(--spacing-l);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

/* Font face */
@font-face {
  font-family: "RHD";
  src: url("../font/RedHatDisplay-500.ttf") format("truetype");
  src: url("../font/RedHatDisplay-500.woff") format("woff");
  src: url("../font/RedHatDisplay-500.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "RHD";
  src: url("../font/RedHatDisplay-700.ttf") format("truetype");
  src: url("../font/RedHatDisplay-700.woff") format("woff");
  src: url("../font/RedHatDisplay-700.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "RHD";
  src: url("../font/RedHatDisplay-900.ttf") format("truetype");
  src: url("../font/RedHatDisplay-900.woff") format("woff");
  src: url("../font/RedHatDisplay-900.woff2") format("woff2");
  font-weight: 900;
}
body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "RHD", sans-serif;
  background-color: hsl(225, 100%, 94%);
  font-size: 14px;
  height: 100vh;
  position: relative;
  color: hsl(224, 23%, 55%);
}

section {
  max-width: 350px;
}
@media (width: 320px) {
  section {
    margin: 0 20px;
  }
}

h2 {
  color: hsl(223, 47%, 23%);
}

p {
  font-size: 16px;
  font-weight: 500;
}

a {
  color: hsl(245, 75%, 52%);
}
a:visited {
  color: hsl(245, 75%, 52%);
}
a:hover {
  color: hsla(245, 75%, 52%, 0.7);
}

img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  top: 10px;
}

.flex-row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}

.text-s {
  font-size: 14px;
}

.text-light {
  color: hsl(224, 23%, 55%);
}

.text-dark {
  color: hsl(223, 47%, 23%);
}

.text-bold {
  font-weight: 900;
}

.link-underline {
  text-decoration: underline;
}

.section__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: hsl(0, 0%, 100%);
  padding: 30px 24px 24px 24px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.section__inner-info {
  background-color: hsl(225, 100%, 98%);
  padding: 18px;
  border-radius: 10px;
}

.background-image {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

.background-image-mobile {
  display: block;
}
@media (min-width: 375px) {
  .background-image-mobile {
    display: none;
  }
}

.background-image-desktop {
  display: none;
}
@media (min-width: 375px) {
  .background-image-desktop {
    display: block;
  }
}

.button-payment {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 0;
  background-color: hsl(245, 75%, 52%);
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  box-shadow: 0px 20px 20px 1px hsl(225, 100%, 94%);
  cursor: pointer;
}
.button-payment:hover {
  background-color: hsla(245, 75%, 52%, 0.7);
}

.button-cancel {
  color: hsl(224, 23%, 55%);
  all: unset;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
}
.button-cancel:hover {
  color: hsl(223, 47%, 23%);
}

.attribution {
  font-size: 14px;
  text-align: center;
  position: fixed;
  bottom: 5px;
}/*# sourceMappingURL=style.css.map */